OPENAI_API_KEY=ms-26bbbaa8-6044-4164-be39-a902d0b22c46
OPENAI_BASE_URL=https://api-inference.modelscope.cn/v1
OPENAI_MODEL=Qwen/Qwen3.5-35B-A3B
OPENAI_MODEL_FILE=
OPENAI_MIRROR=modelscope
WORKSPACE_ROOT=.
